<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donators_Sign_UP</title>
</head>
<body>
    <h1>SIGN IN</h1>
    <form name="passdata" action="/donate_signin" method="post">
        <label>email : </label>
        <input type="text" name="email">
        <br><br><br><br>
        <label>password : </label>     
        <input type="text" name="password" required> 
        <br><br><br><br>
        <input type="submit" value="submit">
    </form>
    <a href="donate_signUP">Not have an account then create one</a>
    <br><br><br><br>
    <h4>{{xman}}</h4>
    <br><br><br><br>
    <a href="/donate">{{lnk}}</a>
</body>
</html>