<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App of Donation</title>
</head>
<body>
    <h1>Donate</h1>
    <h4>REMEMBER : Yours one donation can be a life saving act for more than one family</h4>
    <br>
    <br>
    <br>
    <div><a href="/donate_signin"><h2>Tap here if you wants to Donate food</h2>></a>
        <br>
        <p>Thankyou friends. God can't visit every where on the earth so they had choosen young peoole like you to 
            help others your one small help can provide sime to many of them. So donate as much as you can</p>
    </div>
    <br>
    <br>
    <br>
    <div><a href="/request_signin"><h2>Tap here if you wants to Bororrow food</h2>></a>
        <br>
        <p>Hello friends hope you all well. Many of the people in this world has donated for the betterment of you 
            and your family. Pray for them. And we will always be happ to help you all whith the help of this kind hearted peoples</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Donating the food rather than wasting doesn't makes you poor but it makes you rich</h1>
</body>
</html>