<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bishal Sarkar</title>
</head>
<body>
    <h1>MY FIRST HTML IN VSCODE</h1>
    <form name="passdata" action="." method="post">
        <label>Food_No.</label> 
        <input type="number" name="no">
        <br><br><br><br>
        <label>Food_Name</label>
        <input type="text" name="name">
        <br><br><br><br>
        <label>Food_Quantity</label>     
        <input type="number" name="quant"> 
        <br><br><br><br>
        <input type="submit" value="submit">
    </form>
    <a href="/bila">go to link</a>
</body>
</html>